body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* MENU */
#menuBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#menu {
    position: fixed;
    top: 45px;
    left: 10px;
    background: white;
    border: 1px solid #ccc;
    display: none;
    z-index: 1000;
}

#menu button {
    display: block;
    width: 180px;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

section {
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.active {
    display: flex;
}

button {
    padding: 10px 20px;
    margin: 8px;
    cursor: pointer;
}

/* SCORES AND TURN BOXES */
#scoresContainer {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 10px;
}

.scoreBox {
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    min-width: 120px;
    text-align: center;
}

#turnRoundContainer {
    display: flex;
    flex-direction: column;
    /* stack vertically */
    align-items: center;
    /* center horizontally */
    width: 100%;
    margin-bottom: 15px;
    gap: 10px;
    /* space between round & turn */
}

.roundBox {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    min-width: 120px;
    text-align: center;
}

/* GAME LAYOUT */
#placement-area {
    display: flex;
    margin: 15px;
}

.slot {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    margin: 5px;
    background: white;
    cursor: pointer;
    margin-top: -40px;
}

.slot.locked {
    border-color: green;
    cursor: default;
}

#pool {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.image-piece {
    width: 70px;
    height: 70px;
    margin: 5px;
    margin-top: -40px;
    border: 1px solid #aaa;
    cursor: pointer;
}

.image-piece.selected {
    border: 3px solid blue;
    opacity: 0.7;
}

.image-piece img,
.slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.home-box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    width: 90%;
    max-width: 350px;
    box-sizing: border-box;
}

/* Title inside box */
#homeTitle {
    color: #444;
    margin-bottom: 20px;
}

/* Buttons inside box */
#modeButtons button,
#startBtn,
#registration input {
    width: 100%;
    max-width: 260px;
    border-radius: 30px;
}

/* Inputs inside box */
#registration input {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

/* BACKGROUNDS */
#cover {
    background-image: url("pics/coverr.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home {
    background-image: url("pics/select.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#game {
    background-image: url("pics/back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* PLAY BUTTON */
#playBtn {
    margin-top: 30%;
    border-radius: 20px;
}

/*for mobile*/
@media (max-width: 768px) {

    #scoresContainer,
    #turnRoundContainer {
        width: 95%;
        flex-direction: column;
        gap: 10px;
    }

    #scoresContainer div,
    #turnRoundContainer div {
        margin: 0 !important;
    }

    #placement-area {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 12px;
    }

    .slot img {
        width: 60px;
        height: 60px;
        margin-bottom: 50%;
    }

    .image-piece {
        width: 55px;
        height: 55px;
        margin-bottom: 50%;
    }

    #pool {
        width: 100%;
        margin-bottom: 50px;
    }

    #submitBtn {
        width: 90%;
        max-width: 300px;
    }

}

@media (max-width: 768px) {
    #playBtn {
        margin-top: 70vh;
    }
}